<!-- Summary -->    
<div class="background">

  <div id="summary" class="contentbox">    
    <div class="row">
      <div class="large-3 columns">   
        <p>
          <a href="" data-reveal-id="mapModal"><img src="{{person.img_url}}"></a><br/>
        </p>
      </div>

      <div class="large-9 columns">   
        <h1>{{person.first_name + " " + person.last_name}}</h1>
      </div>
    </div>
  </div>
  
  <!-- Description -->
  <div id="description" class="contentbox">
    <div class="row">
      <div class="large-9 columns">
        <h1>Description</h1>
        <p>crawled description</p>
      </div>
    </div>
  </div>

  <!-- Experience -->
  <div id="experience" class="contentbox">
    <div class="row">
      <div class="large-9 columns">
        <h1>Experience</h1>
        <p>crawled experience</p>
      </div>  
    </div>
  </div>

  <!-- Education -->
  <div id="education" class="contentbox">
    <div class="row">
      <div class="large-9 columns">
        <h1>Education</h1>
        <p>crawled experience</p>
      </div>
    </div>
  </div>

  <!-- Keywords -->
  <div id="keywords" class="contentbox">
    <div class="row">
      <div class="large-9 columns">
        <h1>Keywords</h1>
        <p>crawled experience</p>
      </div>
    </div>
  </div>


  <!-- People in their network -->
  <div id="network" class="network_content">
  <div class="row">
    <div class="large-9 columns">
      <div class="section-container tabs" data-section>
        <section class="section">
          <h1 class="title">People in Their Network</h1>
          <div class="content" data-slug="panel2">
            <ul class="large-block-grid-5">
              <li><a href="#"><img src="http://placehold.it/200x200&text=[person]">Juhee Lee</a></li>
              <li><a href="#"><img src="http://placehold.it/200x200&text=[person]">Thomas Lee</a></li>
              <li><a href="#"><img src="http://placehold.it/200x200&text=[person]">Geng Tan</a></li>
              <li><a href="#"><img src="http://placehold.it/200x200&text=[person]">Mal Reynolds</a></li>
              <li><a href="#"><img src="http://placehold.it/200x200&text=[person]">Mal Reynolds</a></li>
              <li><a href="#"><img src="http://placehold.it/200x200&text=[person]">Mal Reynolds</a></li>
              <li><a href="#"><img src="http://placehold.it/200x200&text=[person]">Mal Reynolds</a></li>
              <li><a href="#"><img src="http://placehold.it/200x200&text=[person]">Mal Reynolds</a></li>
              <li><a href="#"><img src="http://placehold.it/200x200&text=[person]">Mal Reynolds</a></li>
              <li><a href="#"><img src="http://placehold.it/200x200&text=[person]">Mal Reynolds</a></li>
            </ul>
          </div>
        </section>
      </div>
    </div>    
  </div> <!-- End of network div -->
</div>
 
   
 
</div>  <!-- end of background div -->