<!-- Summary -->    
<div class="background">

  <div id="summary" class="contentbox">    
    <div class="row">
      <div class="large-3 columns">   
        <p>
          <a href="" data-reveal-id="mapModal"><img src="{{person.img_url}}"></a><br/>
        </p>
      </div>

      <div class="large-9 columns">   
        <h1>{{person.first_name + " " + person.last_name}}</h1>
        <a class="webicon facebook small" href={{person.facebook_url}}></a>
        <a class="webicon twitter small" href={{person.twitter_url}}></a>
        <a class="webicon linkedin small" href={{person.linkedin_url}}></a>
      </div>
    </div>
  </div>
  
  <!-- Description -->
  <div id="description" class="contentbox">
    <div class="row">
      <div class="large-9 columns">
        <h1>Job</h1>
        <p>{{person.jobs[0].title + ", " + person.jobs[0].organization}}</p>
      </div>
    </div>
  </div>

  <!-- Experience -->
  <div id="experience" class="contentbox">
    <div class="row">
      <div class="large-9 columns">
        <h1>Experience</h1>
        <div class="row" id="contents" ng-repeat="experience in person.experiences">
          <h2>{{experience.title}}</h2>
          <h3>{{experience.organization}}</h3>
        </div>
      </div>  
    </div>
  </div>

  <!-- Education -->
  <div id="education" class="contentbox">
    <div class="row">
      <div class="large-9 columns">
        <h1>Education</h1>
        <div class="row" id="contents" ng-repeat="education in person.educations">
          <h2>{{education.school}}</h2>
          <p>{{education.degree_type + ", " + education.major}}</p>
          <p>{{education.graduation_year}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Keywords -->
  <div id="keywords" class="contentbox">
    <div class="row">
      <div class="large-9 columns">
        <h1>Keywords</h1>
        <ul>
          <li ng-repeat="keyword in person.keywords">{{keyword.keyword}}</li>
        </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- news -->
  <div id="keywords" class="contentbox">
    <div class="row">
      <div class="large-9 columns">
        <h1>News</h1>
        <div class="row" id="contents" ng-repeat="a_news in person.news">
          <h2><a href="{{a_news.url}}">{{a_news.title}}</a></h2>
          <p>{{a_news.author}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- People in their network -->
  <div id="network" class="network_content">
  <div class="row">
    <div class="large-9 columns">
      <div class="section-container tabs" data-section>
        <section class="section">
          <h1 class="title">People in Their Network</h1>
          <div class="content" data-slug="panel2">
            <ul class="large-block-grid-5">
              <li ng-repeat="friend in people_in_network | limitTo: 10"><a href="#"><img src="{{friend.img_url}}">{{friend.first_name + " " + friend.last_name}}</a></li>
            </ul>
          </div>
        </section>
      </div>
    </div>    
  </div> <!-- End of network div -->
</div>
 
   
 
</div>  <!-- end of background div -->